*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    background-image: url(assets/bg.jpg);
    background-size:cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .box{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.47;
}
nav{
    max-width: 80vw;
    margin: auto;
    display:flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
    padding-top: 20px;

}
nav .logo{
    width: 150px;
    z-index: 10;
}
.buttons{
    z-index: 10;
    display: flex;
    gap:30px;
    height: 32px;
    border-radius: 5px;
}
.button1{
    border: 1px solid rgb(145, 143, 143);
    /* background-color: black; */
    background:none;
    color: white;
    width: 130px;
    font-weight:500;
    border-radius: 4px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    gap:10px;

}

.button2{
    background-color: red;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    width: 80px;
    border: none;
    font-weight: 650;
    border-color: rgb(163, 163, 163);
    cursor: pointer;
    font-size: 90%;
}